<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Conta</th>
      <th>Senha</th>
      <th>Email</th>
      <th>Mensagem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nome %></td>
        <td><%= cliente.conta %></td>
        <td><%= cliente.senha %></td>
        <td><%= cliente.email %></td>
        <td><%= cliente.mensagem %></td>
        <td><%= link_to 'Show', cliente %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Cliente', new_cliente_path %> -->
<%= link_to 'Sair', destroy_user_cliente_session_path, method: :delete %>